version: '3.8'

services:
  web:
    build: .
    container_name: p13_python_oc
    command: gunicorn oc_lettings_site.wsgi:application --bind 0.0.0.0:8000
    ports:
      - 8000:8000
#    expose:
#      - 8000
    volumes:
#      - .:/app
      - /static:/static
#    networks:
#      - nginx_network
#    env_file: .env