name: Run tests
on:
  push:
    branches-ignore:
      - main
jobs:
  execute_tests:
    name: Install requirements and execute tests
    runs-on: ubuntu-latest
    steps:
      - name: Update
        run: sudo apt update
      - name: Check out repository code
        uses: actions/checkout@v3
      - name: Install pip
        run: sudo apt install python3-pip
      - name: Install requirements
        run: pip install -r requirements.txt
      - name: Check linting
        run: flake8
      - name: Execute tests
        env:
          SENTRY_DSN: ${{ env.SENTRY_DSN }}
          DJANGO_SETTINGS_MODULE: oc_lettings_site.settings
        run: pytest
      - name: Pytest coverage comment
        uses: MishaKav/pytest-coverage-comment@main
        with:
          pytest-coverage-path: ./pytest-coverage.txt
          junitxml-path: ./pytest.xml  # enabled workflow