name: Run tests
on:
  push:
    branches-ignore:
      - main
jobs:
  execute_tests:
    name: Install requirements and execute tests
    runs-on: ubuntu-latest
    permissions:
      # Gives the action the necessary permissions for publishing new
      # comments in pull requests.
      pull-requests: write
      # Gives the action the necessary permissions for pushing data to the
      # python-coverage-comment-action branch, and for editing existing
      # comments (to avoid publishing multiple comments in the same PR)
      contents: write
    steps:
      - name: Update
        run: sudo apt update
      - name: Check out repository code
        uses: actions/checkout@v4
      - name: Install pip
        run: sudo apt install python3-pip
      - name: Install requirements
        run: pip install -r requirements.txt
      - name: Check linting
        run: flake8
      - name: Execute tests
        env:
          SENTRY_DSN: ${{ env.SENTRY_DSN }}
          DJANGO_SETTINGS_MODULE: oc_lettings_site.settings
        run: pytest
      - name: Get Line Rate from output
        id: get_line_rate
        shell: pwsh
        run: |
          coverage xml
          $covreport = get-childitem -Filter coverage.xml -Recurse | Sort-Object -Descending -Property LastWriteTime -Top 1
          Write-Output $covreport.FullName
          [xml]$covxml = Get-Content -Path $covreport.FullName
          $lineRate = $covxml.coverage.'line-rate'
          Write-Output "::set-output name=lineRate::$lineRate"
      - name: Check coverage tolerance
        if: ${{ steps.get_line_rate.outputs.lineRate < 0.95 }}
        uses: actions/github-script@v3
        with:
          script: |
            core.setFailed('Coverage test below tolerance')
