name: Run tests
on:
  push:
    branches-ignore:
      - main
jobs:
  execute_tests:
    name: Install requirements and execute tests
    runs-on: ubuntu-latest
    permissions:
      # Gives the action the necessary permissions for publishing new
      # comments in pull requests.
      pull-requests: write
      # Gives the action the necessary permissions for pushing data to the
      # python-coverage-comment-action branch, and for editing existing
      # comments (to avoid publishing multiple comments in the same PR)
      contents: write
    steps:
      - name: Update
        run: sudo apt update
      - name: Check out repository code
        uses: actions/checkout@v3
      - name: Install pip
        run: sudo apt install python3-pip
      - name: Install requirements
        run: pip install -r requirements.txt
      - name: Check linting
        run: flake8
      - name: Execute tests
        env:
          SENTRY_DSN: ${{ env.SENTRY_DSN }}
          DJANGO_SETTINGS_MODULE: oc_lettings_site.settings
        run: pytest
      - name: Coverage comment
        id: coverage_comment
        uses: py-cov-action/python-coverage-comment-action@v3
        with:
          GITHUB_TOKEN: ${{ github.token }}